{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block main %}
    <h1>Edit Room</h1>

    {{ include('backoffice_room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backoffice_room_index') }}">&#x21A9; Back to list</a>

    {{ include('backoffice_room/_delete_form.html.twig') }}
{% endblock %}
{% block footer %} 
  <br/>
  <br/>
    &copy; Copyright 2021 by T.A</a>
{% endblock %}