{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block main %}
    <h1>Create new Room</h1>

    {{ include('backoffice_room/_form.html.twig') }}

    <a href="{{ path('backoffice_room_index') }}">&#x21A9; Back to list</a>
{% endblock %}
{% block footer %} 
  <br/>
  <br/>
    &copy; Copyright 2021 by T.A</a>
{% endblock %}
