{% extends 'base.html.twig' %}

{% block title %}Agency welcomes you!{% endblock %}

{% block main %}
    <h1>Bead & Breakfast</h1>
    <br/>
    <p> Please have fun on this website and let's hope you find what you were looking for! </p>
    <p>Please use the upper bar to browse the site</p>
    {% if is_granted('ROLE_OWNER') %}
      <p>You are currently logged in as an owner. You are still a user and therefore have the same rights as ordinary users. 
      You can also upload the properties you want to rent. To do this, go to your personal Owner Page
      by clicking on 'Your Owner Page' in the Account drop-down menu in the top bar. Your information is displayed there; to add a duvet and coffee, 
      click on 'Go to Rooms'. </p>
    {% else %}
      {% if is_granted('ROLE_ADMIN') %}
        <p>Welcome Admin! You have full rights on this site, you can either browse it as a standard user, or 
        you can go to the BackOffice in the top bar and control all aspects of the site, right down to the users.</p>
      {% else %}
        {% if is_granted('ROLE_USER') %}
        <p>If you are an owner of a property that you wish to display on this site, you must create your Owner profile. To do this, click on
        <a href="{{path('owner_new')}}">there</a> or click on 'Register as an Owner' in the Account drop-down menu in the top bar</p>
        {% else %}
      <p>If you are an owner of an accommodation that you wish to post on this site, you must first <a href="{{ path('app_register') }}">create your user account</a>
      or <a href="{{ path('app_login') }}">log in to your account</a>.
      <br/>Look for the 'Create your owner account' menu in the Account drop-down menu in the top bar.</p>
      {% endif %}
      {% endif %}
    {% endif %}
    <br/>
    <br/>
<style>
.button-accueil {
  position: relative;
  background-color: #A52A2A;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button-accueil:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.4s
}

.button-accueil:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
</style>
<a href="{{ path('public_region_index') }}"><button class="button-accueil">Browse by Region</button></a>

{% endblock %}
{% block footer %} 
  <br/>
  <br/>
    &copy; Copyright 2021</a>
{% endblock %}
