{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('backoffice_user/_form.html.twig') }}

    <a href="{{ path('backoffice_user_index') }}">&#x21A9; Back to list</a>
{% endblock %}
